<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/build/main.css">

<h1>Historique des mouvements de stock</h1>

<nav>
	<ul>
		<li><a href="/epicerie/accueil">Retour à l'accueil</a></li>
		<li><a href="/epicerie/statistiques">Statistiques</a></li>
		<li><a href="/epicerie/historique">Historique</a></li>
		<li><a href="/epicerie/mouvement">Saisie de mouvement</a></li>
		<li><a href="/epicerie/liste">Liste des articles</a></li>
		<li><a href="/epicerie/creer">Créer  un article</a></li>
		<li><a href="/epicerie/modifier">Modifier un article</a></li>
	</ul>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col"></div>
			<div class="col-9" style="display: flex;">
				{% for historique in historique %}
				<div class="card h-100">
					<div class="card-body">
						<h4>Mouvement : {{ historique.idmouvements }}</h4>
						<p>Type de mouvement : {{ historique.typeMouvement.type }}</p>
						<p>Article : {{ historique.article.articleNom }}</p>
						<p>Quantité : {{ historique.quantite }}</p>
						<p>Réalisé le : {{ historique.dateMouvement.date|date("d/m/Y") }}</p>
						<p>À : {{ historique.dateMouvement.date|date("h:i:s") }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		<div class="col"></div>
	</div>
</div>