<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/build/main.css">

<h1>Saisir un mouvement de stock</h1>

<nav>
	<ul>
		<li><a href="/epicerie/accueil">Retour à l'accueil</a></li>
		<li><a href="/epicerie/statistiques">Statistiques</a></li>
		<li><a href="/epicerie/historique">Historique</a></li>
		<li><a href="/epicerie/mouvement">Saisie de mouvement</a></li>
		<li><a href="/epicerie/liste">Liste des articles</a></li>
		<li><a href="/epicerie/creer">Créer  un article</a></li>
		<li><a href="/epicerie/modifier">Modifier un article</a></li>
	</ul>
</nav>
<div class="container-fluid">
	<form action="" method="post">
		<div class="row">
			<div class="col-2"></div>
				<div class="col-2"><select name="type">
					<option selected="selected" value="">Type de mouvement</option>
						{% for type in type %}
							<option value="{{ type.typeMouvement.type }}">
								{{ type.typeMouvement.type }}
							</option>
						{% endfor %}
				</select></div>
				<div class="col-2"><select name="sens">
					<option selected="selected" value="">Sens du mouvement</option>
						{% for sens in sens %}
							<option value="{{ sens.sens }}">
								{{ sens.sens }}
							</option>
						{% endfor %}
				</select></div>
				<div class="col-2"><select id="article" name="article">
					<option selected="selected" value="">Article</option>
						{% for article in article %}
							<option value="{{ article.articleNom }}">
								{{ article.articleNom }}
							</option>

						{% endfor %}
						<option value="new">Nouvel article</option>
				</select></div>
				<div class="col-2"><input type="number" name="quantite" placeholder="Quantite" value="quantite"></div>
			<div class="col-2"></div>
			<div class="col"></div>
				<div class="col-2"><input class="valider" type="submit" name="envoyer" value="Envoyer"></div>
			<div class="col"></div>
		</div>
	</form>
</div>
<div class="container-fluid">
	<form id="articleNew" class="articleSupplementaire" action="" method="post" name="articleSupplementaire">
		<div class="row">
			<div class="col-1"></div>
				<div class="col-2"><input type="text" name="nouvelArticle" placeholder="Article"></div>
				<div class="col-2"><input type="number" step=".01" name="prixArticle" placeholder="Prix de vente"></div>
				<div class="col-2"><select name="categorie">
					<option selected="selected" value="">Catégorie</option>
						{% for categorie in categorie %}
							<option value="{{ categorie.categorieNom }}">
								{{ categorie.categorieNom }}
							</option>
						{% endfor %}
				</select></div>
				<div class="col-2"><select name="unite">
					<option selected="selected" value="">Unité</option>
						{% for unite in unite %}
							<option value="{{ unite.uniteType }}">
								{{ unite.uniteType }}
							</option>
						{% endfor %}
				</select></div>
				<div class="col-2"><select name="fournisseur">
					<option selected="selected" value="">Fournisseur</option>
						{% for fournisseur in fournisseur %}
							<option value="{{ fournisseur.fournisseurNom }}">
								{{ fournisseur.fournisseurNom }}
							</option>
						{% endfor %}
				</select></div>
			<div class="col-1"></div>
			<div class="col"></div>
				<div class="col-2"><input class="valider" type="submit" name="valider" value="Valider"></div>
			<div class="col"></div>
		</div>
	</form>
</div>

<script type="text/javascript" src="/build/app.js"></script>
